# Created by .ignore support plugin (hsz.mobi)
### Erlang template
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar
.errorLogs

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/
/errorLogs/
